<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>834513047240-c1ss0a9kgqcvki2siil4kk9ah6um4mtp.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.834513047240-c1ss0a9kgqcvki2siil4kk9ah6um4mtp</string>
		<key>API_KEY</key>
		<string>AIzaSyALWwMZyQSWH8Ii2NxeVUTEdrGxc_gx40Y</string>
		<key>GCM_SENDER_ID</key>
		<string>834513047240</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.flutterFrontend</string>
		<key>PROJECT_ID</key>
		<string>commsulteat</string>
		<key>STORAGE_BUCKET</key>
		<string>commsulteat.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:834513047240:ios:8cb15ab22694d66734dffd</string>
	</dict>
</plist>